@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 20%;
    --card: 240 100% 100%;
    --card-foreground: 240 10% 20%;
    --popover: 240 100% 100%;
    --popover-foreground: 240 10% 20%;
    --primary: 250 50% 70%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 67% 97%;
    --secondary-foreground: 250 50% 30%;
    --muted: 240 20% 94%;
    --muted-foreground: 240 5% 45%;
    --accent: 300 40% 90%;
    --accent-foreground: 300 50% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 88%;
    --input: 240 30% 92%;
    --ring: 250 50% 60%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 250 50% 70%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
