.container-cart{
	background-color: white;
	border: 2px solid #ccc5ec;
	border-radius: 10px;
	padding: 5px;
	margin: 50px;
}

.container-cart>*{
	margin: 4px;
	
}
.cart-header{
	color: #2e1f6e;
	
}

.container-cart button{
	transition: all 0.5s ease;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fafaff;
	border: 1px solid #ccc5ec;
	
}
.container-cart button:hover{
	background-color: #998cd9;
	border: 2px solid  #5c3df8;
}
.input input{
	background-color:#fafaff;
	padding: 10px;
	margin: 10px;
border-radius: 10px; 
width: 94%;
border: 1px solid #998cd9;
}

.process {
  border: 2px solid #ccc5ec;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 50px 30px 50px;
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
}
.label{
	margin-bottom: 20px;
	margin-top: 20px;
}

.cart-description{
	margin-bottom: 30px;
	color: #6d6d78;
	margin-top: 30px;
}

.cart-title{
	margin-top: 10px;
	margin-bottom: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
.radio-div>*
{
border: none;
background-color: #fafaff;
padding: 5px;
margin: 10px;
border-radius: 10px;
border: 1px solid #998cd9;
}
.relation-margin{
	width: 60%;
	
}
.relation-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.span-cart{
	color: #998cd9;
	margin-bottom: 10px;
	
}
.question-margin{
	padding: 10px;
	margin-bottom: 25px;

}
.input-flex{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px;

}

.aside{
	background-color: white;
width: 20%;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
aside h1{
	font-size: 20px;
}
.aside>*{
margin-top: 20px;
padding: 5px;
}
.aside button{
	background-color: white;
	border: none;
	margin-bottom: 20px;
	padding: 5px;
	cursor: pointer;
}
.aside button:hover{
	background-color:#f0dbf0 ;
	border-radius: 5px;
}
.aside a{
	color: black;
	text-decoration: none;
	

}
.icon-row{
	display: flex;
	flex-direction: row;
}

.aside svg{
	padding-right: 5px;
	width: 25px;
}
.aside h1{
	padding-bottom: 30px;
	margin-top: 10px;
}
.seperate{
	margin-top: 250px;
	border-top: 1px solid rgb(169, 167, 167);
	padding: 5px;
}
.aside a:hover{
	background-color:#f0dbf0 ;
	border-radius: 5px;

}
.waiting-div{
	margin: 100px;
	padding: 50px;
}
.result-div{
	margin: 100px;
	padding: 50px;
}
.generating-div{
	margin: 100px;
	padding: 50px;
}

@media screen and (max-width:700px) {
	.input input{

width: 90%;
}

}
@media screen and (max-width:500px) {
	.input input{

width: 80%;

}
.relation-margin{
	width: 90%;

}
.input-flex{

	grid-template-columns: 1fr;
	grid-template-rows: 80px 80px 80px 80px;

}


}
@media screen and (max-width:970px) {
.aside{
	width: 30%;
}
}
@media screen and (max-width:600px) {
.aside{
	flex-direction: row;
width: 90%;
	margin-top: 10px;
padding: 5px;
}


.seperate{
	margin-top: 40px;
	border-top: none;
	
}
.aside h1{
	margin-bottom: 5px;	
}
.question-margin{
	display: flex;
	flex-direction: column;
}
.layout-column{
	display: flex;
	flex-direction: column-reverse;
}
.aside h1{
	padding-bottom: 10px;
	
}
.aside>*{
	margin-top: 0px;
}
}
@media screen and (max-width:350px){
	.aside{
	flex-direction: column;

}
.seperate{
	margin-top: 0;
}
.container-cart{
	margin: 20px;
}
.process{
	    margin: 10px 20px 30px;
}

}
.copy-link{
	color: green;
padding-left: 10px;
padding-bottom: 10px;
}
.copy-text {
  margin-left: 10px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #5c3df8;
  padding-bottom: 10px;
}