.container-cart{
	background-color: white;
	border: 2px solid #ccc5ec;
	border-radius: 10px;
	padding: 5px;
	margin: 50px;
}
.container-cart>*{
	margin: 4px;
}
.cart-header{
	color: #2e1f6e;
}

.container-cart button{
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #fafaff;
	border: 1px solid #ccc5ec;
	
}
.container-cart button:hover{
	background-color: #998cd9;
}
.input input{
	background-color:#fafaff;
	padding: 10px;
	margin: 10px;
border-radius: 10px; 
width: 94%;
border: 1px solid #998cd9;
}

.process{
	border: 2px solid #ccc5ec;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.cart-description{
	margin-bottom: 30px;
	color: #6d6d78;
}

.cart-title{
	margin-bottom: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
.radio-div>*
{
border: none;
background-color: #fafaff;
padding: 5px;
margin: 10px;
border-radius: 10px;
border: 1px solid #998cd9;
}
.relation-margin{
	width: 60%;
	
}
.relation-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.span-cart{
	color: #998cd9;
	margin-bottom: 10px;
	
}
.question-margin{
	padding: 10px;
}
.input-flex{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px;

}
@media screen and (max-width:700px) {
	.input input{

width: 90%;
}
}
@media screen and (max-width:500px) {
	.input input{

width: 80%;

}
.relation-margin{
	width: 90%;

}
.input-flex{

	grid-template-columns: 1fr;
	grid-template-rows: 80px 80px 80px 80px;

}


}